/* for colors */

:root {
  --color-background: #003f4d;
  --color-orange: #ff7a00;
  --color-blue: #0094ff;
  --color-light-blue: #00a0e9;
}

.color-orange {
  color: var(--color-orange);
}

.color-blue {
  color: var(--color-blue);
}

.color-light-blue {
  color: var(--color-light-blue);
}

.outline-orange {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-orange);
}

.outline-blue {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-blue);
}

/* for font */

@font-face {
  font-family: "Anthony";
  src: url("./fonts/Anthony.woff") format("woff");
}

.font-anthony {
  font-family: "Anthony", sans-serif;
}

/* for menu */

#menu-container {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 100;
}

.menu-toggle {
  transform: rotate(13deg);
  top: 2vw;
  right: 2vw;
}

#close {
  display: none;
}

#container.open > div > #close {
  display: block;
}

#container.open > div > #menu {
  display: none;
}

.home-button {
  transform: rotate(-13deg);
  top: 12vw;
  left: -30vw;
}

.timetable-button {
  transform: rotate(8deg);
  top: 13vw;
  left: 130vw;
}

.workshop-button {
  transform: rotate(-7.5deg);
  top: 19vw;
  left: -30vw;
}

.floor-map-button {
  transform: rotate(15deg);
  top: 22vw;
  left: 130vw;
}

.register-button {
  transform: rotate(15deg);
  top: 28vw;
  left: -30vw;
}

/* for others */

body {
  background-color: var(--color-background);
  background-image: url("./images/background.svg");
  height: 2276px;
  width: 100%;
  overflow-x: hidden;
}

#container {
  width: 100vw;
  overflow-x: hidden;
}

#paper-container {
  width: 100vw;
  overflow-x: hidden;
}

.title {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.paper {
  position: absolute;
  background-color: white;

  border-radius: 0;
  border: 0.5px solid black;
}

.buttons {
  position: absolute;
  background-color: white;
  cursor: pointer;

  border-radius: 0;
  border: 0.5px solid black;

  font-size: 3vw;
  font-weight: 900;
  padding: 0 0.3vw 0.3vw 0.3vw;
  text-decoration: underline;
  box-shadow: 0 0 3px 1px darkslategray;
}

.card {
  padding: 1vw;
}

.summary {
  width: 15vw;
  z-index: 30;
  transform: rotate(10deg);
}

.description {
  width: 30vw;
  z-index: 30;
  transform: rotate(-12deg);
}